

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Bold.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../assets/fonts/Raleway-Light.woff2') format('woff2'),
        url('../assets/fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    font-family: 'Raleway';
    font-size: 16px;
    color: black;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px; 
    color: #007e1e;
    text-decoration-color: #007e1e;
}

table tr:nth-child(odd) {
    background-color: #efefef;
}

table tr td {
    text-align: end;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* mobile */

.fixed-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    height: 64px;

    padding-right: 16px;
    padding-left: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #ffffff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}

.fixed-header img {
    height: 36px;
}

.header-nav-links {
    background-color: #ffffff;
    position: fixed;
    top: 64px;
    right: -100%;

    height: fit-content;
    width: 100%;

    font-weight: 400;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 16px;
    transition: .3s ease;
}

.header-nav-links.active
{
    right: 0;
}

.ham-menu
{
    position: relative;
    height: 36px;
    width: 36px;
}

.ham-menu span
{
    height: 4px;
    width: 100%;
    background-color: #007e1e;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1)
{
    top: 25%;
}

.ham-menu span:nth-child(3)
{
    top: 75%;
}

.ham-menu.active span:nth-child(1)
{
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2)
{
    opacity: 0;
}

.ham-menu.active span:nth-child(3)
{
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}




.landing-page {
    /* height: 300vh; */
    flex: 1;
}

/* start page - section: main recipe */

.main-recipe-section {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* recipe of the day section */

.recipe-of-the-day-section {
    height: 100vh;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 16px;

    gap: 16px;
}

/* start page - section: recipe overview */

.recipe-overview-section {
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding-top: 4px;
    padding-bottom: 24px;

    padding-left: 16px;
    padding-right: 16px;
}

.single-recipes {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;

    align-items: center;
    gap: 24px;
}

.single-recipes img {
    display: flex;
    object-fit: cover;
    border-radius: 3%;
    width: 200px;
    height: 200px;
}

/* start page - section: information */

.information-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 24px;

    padding-left: 16px;
    padding-right: 16px;
}    

.information-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #423d3e;
    flex: 1;

    margin-top: 0;
}

.information-text img {
    object-fit: cover;
    border-radius: 3%;
    width: 200px;
    height: 200px;
}

/*contact-form*/

.body-contact-form {
    margin: 0;
    background-color: #EFEFEF;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;

    gap: 16px;
}

/* single recipe page */

.main-recipe-container {
    padding: 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    gap: 16px;
}

.recipe-info span {
    background: #efefef;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
}

.servings-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    text-align: start;
}

.servings-box input {
    border-width: 2px;
    border-style: solid;
    text-align: center;
}

.servings-box div {
    display: flex;
}

.servings-box label {
    padding-right: 8px;
    align-self: center;
}

.spices-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: flex-end;
    text-align: end;

    gap: 8px;
}

.optionals-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    text-align: start;

    gap: 8px;
}

.preperation-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: flex-end;
    text-align: end;
    
    gap: 8px;
}

.preperation-container ol {
    text-align: justify;
}

.prep-info span {
    background: #efefef;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 10px;
    font-size: 14px;
}

.tipps-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    text-align: start;

    gap: 8px;
}


/* contact page */

.contact-form-main {
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form-style {
    padding: 16px;

    display: flex;
    flex-direction: column;

    background-color: #efefef;

    gap: 16px;
}

.contact-form-infomation {
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form-input-style {
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    padding: 15px;
    border: 1px solid #dadada;
    border-radius: 10px;
    gap: 5px;
}

.contact-form-input {
    border: none;
    background: none;
    font-size: 16px;
    font-family: 'Raleway';
}

.contact-form-label {
    font-size: 12px;
    font-weight: bold;
}

.contact-form-textarea {
    height: 400px;
    resize: none;
}


.contact-form-input:focus {
    outline: none;
}

.input-required {
    text-align: center;
}




footer {
    background-color: #423d3e;
    height: 64px;
    padding-left: 16px;
    padding-right: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    height: 36px;
}





/* tablet */
@media (min-width: 768px) {

    body {
        padding-top: 96px;
    }

    img {
        max-width: 384px;
    }

    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }

    h4{
        font-size: 24px;
    }

    /* header */

    .fixed-header {
        height: 96px;
        padding-right: 64px;
        padding-left: 64px;
    }

    .fixed-header img {
        height: 64px;
    }

    .header-nav-links {
        position: static;
        padding-bottom: 8px;
        justify-content: end;
        flex-direction: row;
        align-self: end;

        font-weight: 500;

        gap: 36px;
    }

    .ham-menu
    {
        display: none;
    }

    /* hero section */
    .hero-section {
        padding-right: 64px;
        padding-left: 64px;
    }

    /* recipe of the day section */

    .recipe-of-the-day-section {
        padding-right: 64px;
        padding-left: 64px;
    }

    /* recipe overview section */

    .recipe-overview-section {
        padding-right: 64px;
        padding-left: 64px;
    }

    /* information section */

    .information-section {
        padding-left: 64px;
        padding-right: 64px;
    }

    /* single recipe page */

    .main-recipe-container {
        padding-left: 64px;
        padding-right: 64px;
    }

    /* contact page */

    .contact-form-main {
        padding-left: 64px;
        padding-right: 64px;
    }

    /* footer */
    footer {
        height: 96px;
        padding-left: 64px;
        padding-right: 64px;
    }

    footer img {
        height: 64px;
    }

    .hide-on-mobile {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }

}

/* desktop */
@media (min-width: 1024px) {

    body {
        padding-top: 128px;
    }

    img {
        max-width: 512px;
    }

    h1 {
        font-size: 96px;
    }

    h2 {
        font-size: 64px;
    }

    h3 {
        font-size: 48px;
    }

    h4{
        font-size: 32px;
    }

    /* header */

    .fixed-header {
        padding-left: 128px;
        padding-right: 128px;
        height: 128px;
    }

    .fixed-header img {
        height: 96px;
    }

    .header-nav-links {
        font-weight: bold;
        gap: 48px;
    }

    /* hero section */
    .hero-section {
        padding-left: 128px;
        padding-right: 128px;
    }

    /* recipe of the day section */

    .recipe-of-the-day-section {
        padding-left: 128px;
        padding-right: 128px;
    }

    /* recipe overview section */

    .recipe-overview-section {
        padding-left: 128px;
        padding-right: 128px;
    }

    /* information section */

    .information-section {
        padding-left: 128px;
        padding-right: 128px;
    }

    /* single recipe page */

    .main-recipe-container {
        padding-left: 128px;
        padding-right: 128px;
    }

    /* contact page */

    .contact-form-main {
        padding-left: 128px;
        padding-right: 128px;
    }

    /* footer */
    footer {
        height: 96px;
        padding-left: 128px;
        padding-right: 128px;
    }

    footer img {
        height: 96px;
    }

}

